/*
 * sectionCuriousPlayfulInformative module
 */

.section--curious-playful-informative {

    //height: 133.3vh; //@TODO make longer;

    .container {
        position: relative; // move in front of .rotator
        overflow: hidden; // Mask out text until it's revealed on scroll down
        z-index: 1; // Move in front of previous section
    }

    // Move next section in front after ball dropped
    &.js--ball-dropped {
        overflow: hidden;
    }
    &.js--ball-dropped + .section {
        z-index: 1;
    }

    /* ==========================================================================
       Unfixed position (normal) title
       ========================================================================== */

    // Container/title to stay in first viewport
    &:not(.section--title-fixed) {
        align-items: baseline;
        justify-content: baseline;

        .container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    /* ==========================================================================
       Fixed position (clipped) title
       ========================================================================== */

    &.section--title-fixed {
        // Have to position absolutely for the pinning to centre
        .container {
            position: absolute;
            display: block;
            flex: none;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;

            // Mask out section__title using a clip-path
            clip-path: url(#clipPath--noClip); // For Firefox which only supports clip-path via an SVG
            clip-path: inset(0 0 0 0); // Safari 9 seems to crop off bottom too early with SVG so
                                       // use this instead
            backface-visibility: hidden; // Required by Chrome to clip
        }

        // Keep title fixed in centre of viewport
        .section__title {
            position: fixed;
            top: 50%;
            left: rem($paddingContainer);
            right: rem($paddingContainer);
            margin-top: -0.5em;
            z-index: -1;
        }
    }

    /* ==========================================================================
      Responsive
      ========================================================================== */
    @media only screen and (min-width: rem($bpMedium)) {
        &.section--title-fixed {
            .section__title {
                left: rem($paddingContainerSectionLargeH);
                right: rem($paddingContainerSectionLargeH);
            }
        }
    }
}
