/*
 * sectionCuriousPlayfulInformative module
 */

/* ==========================================================================
   Common
   ========================================================================== */

   .section--curious-playful-informative {

       overflow: hidden; // Mask out text until it's revealed on scroll down

       // Have to position absolutely for the pinning to centre
       // via translateY on scroll (in JS)
       .section__content {
           position: absolute;
           display: block;
           flex: none;
           width: 100%;
           height: 100%;
           left: 0;
       }
   }
