/*
 * sectionClients module
 */
/* ==========================================================================
   Common
   ========================================================================== */
.section--clients {
    overflow: hidden;

    .container {
        position: relative;
    }

    /* ==========================================================================
       Rotator
       ========================================================================== */

    .rotator {
        z-index: 0;
    }

}
