/*
 * sectionClients module
 */
/* ==========================================================================
   Common
   ========================================================================== */
.section--clients {
    overflow: hidden;
    height: 200vh;

    .container {
        position: relative;
        height: 100vh;
        mix-blend-mode: difference;
    }

    /* ==========================================================================
       Rotator
       ========================================================================== */

    .rotator {
        z-index: 0;
    }

}
