/*
 * Section module
 */

/* ==========================================================================
   Outer layout
   ========================================================================== */

.section {
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &[data-background="white"] {
    background-color: $colourWhite;
    color: $colourBlack;
  }

  &[data-background="black"] {
    background-color: $colourBlack;
    color: $colourWhite;
  }
}

.section__content {
  flex: none;
  width: 100%;
}
