/*
 * balls module
 */

/* ==========================================================================
    Shared
   ========================================================================== */
.ball {
    position: absolute;
    background: url(../img/ball--black.svg) 50% 50% no-repeat;

    &.js--hidden {
        display: none;
    }
}
