/*
 * balls module
 */

 /* ==========================================================================
     Variables
    ========================================================================== */

    $ballWidth: 120;
    $ballHeight: 108;
    $ball1LeftPosition: 468;
    $ball1TopPosition: 24;

/* ==========================================================================
    Shared
   ========================================================================== */

.ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

  .ball__content {
    height: 100%;
  }

  .container {
    height: 100%;
    width: 100%;
  }

  .ball__image {
    width: 66.1%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* ==========================================================================
    Ball 1
   ========================================================================== */

   .ball--1 {
       .ball__image {
           background-image: url(../img/ball--1--black.svg);
       }
   }

/* ==========================================================================
   Ball 2
  ========================================================================== */

  .ball--2 {
      .ball__image {
          background-image: url(../img/ball--2--black.svg);
      }
  }
