/*
 * Section: intro module
 */
/* ==========================================================================
   Section: intro
   ========================================================================== */
.section--intro {
    .section__content {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .container {
        height: 100%;
        width: 100%;
    }
    .section__logo {
        width: $logoScreenPortraitWidth;
        height: $logoScreenPortraitHeight;
        display: block;
        margin: 0 auto;
        background: url(../img/logo--no-ball.svg) 50% 50% no-repeat;
        flex: none;
    }
}

/* ==========================================================================
   Responsive
   ========================================================================== */
@media only screen and (orientation: landscape) {
    .section--intro {
        .section__logo {
            width: $logoScreenLandscapeWidth;
            height: $logoScreenLandscapeHeight;
        }
    }
}
