/*
 * Section: intro module
 */
/* ==========================================================================
   Section: intro
   ========================================================================== */
.section--intro {

    .section__content {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .container {
        height: 100%;
        width: 100%;
    }

    .section__logo {
        width: $logoScreenPortraitWidth;
        height: $logoScreenPortraitHeight;
        display: block;
        margin: 0 auto;
        background: url(../img/logo.svg) 50% 50% no-repeat;
        flex: none;

        svg {
            width: 100%;
            height: 100%;
        }

        // When loaded, hide background SVG and balls within
        // SVG (these are separate images)
        &.section__logo--with-svg {
            background: none;

            svg {
                #ball1 {
                    display: none;
                }
            }
        }
    }

    // Repeated sections don't show ball2 as it is dropped in place on scroll

    &.js--section-repeated {

        //height: 200vh;
        .section__logo {
            background: none;
        }

        svg {
            #ball2 {
                visibility: hidden;
            }
        }

        &.js--show-ball-2 {
            svg {
                #ball2 {
                    visibility: visible;
                }
            }
        }
    }

    /* ==========================================================================
       Fixed position
       ========================================================================== */

    &.section--title-fixed {
        // Keep title fixed in centre of viewport
        .container {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}

/* ==========================================================================
   Responsive
   ========================================================================== */
@media only screen and (orientation: landscape) {
    .section--intro {
        .section__logo {
            width: $logoScreenLandscapeWidth;
            height: $logoScreenLandscapeHeight;
        }
    }
}
