/*
 * Menu module
 */

 /* ==========================================================================
    Variables
    ========================================================================== */

    $widthMenuButton: 28;
    $heightMenuButton: 24;
    $heightMenuButtonIconLine: 4;

.menu {
    position: relative;
    z-index: $zIndexSectionMask;
    width: rem($widthMenuButton);
}

/* ==========================================================================
   Includes
   ========================================================================== */

  %menuCloseState {
      .menu__button__icon {
      	background-color: rgba($colourWhite,0.0);
      	transition-delay: 0.2s;
      }

      .menu__button__icon:before,
      .menu__button__icon:after {
      	margin-top: 0;
      	transition-delay: 0s, 0.2s;
      }

      .menu__button__icon:before {
      	transform: rotate(45deg);
      }

      .menu__button__icon:after {
      	transform: rotate(-45deg);
      }
  }


/* ==========================================================================
   Menu button
   ========================================================================== */

.menu__button {
  width: rem($widthMenuButton);
  height: rem($heightMenuButton);
  position: relative;
  cursor: pointer;
  outline: none;
}

.menu__button__icon {
	margin: 0 auto;
	position: relative;
	top: rem(($heightMenuButton / 2) - ($heightMenuButtonIconLine / 2));
  transition-duration: 0s;
	transition-delay: 0.2s;
}

.menu__button__icon,
.menu__button__icon:before,
.menu__button__icon:after {
	width: rem($widthMenuButton);
	height: rem($heightMenuButtonIconLine);
	background-color: $colourWhite;
	display: block;
}

.menu__button__icon:before,
.menu__button__icon:after {
	position: absolute;
	content: '';
}

.menu__button__icon:before {
	margin-top: rem(($heightMenuButton / 2) - ($heightMenuButtonIconLine / 2));
}
.menu__button__icon:after {
	margin-top: rem((-$heightMenuButton / 2) - (-$heightMenuButtonIconLine / 2));
}

// Autoprefix off styles only: bug with two many transition-property values
.menu__button__icon:before,
.menu__button__icon:after {
  /* autoprefixer: off */
  -webkit-transition-property: margin, -webkit-transform, background-color;
	transition-property: margin, transform, background-color;
}

.menu__button__icon:before,
.menu__button__icon:after {
	transition-duration: 0.2s;
	transition-delay: 0.2s, 0s;
}

.menu__button:hover {
    @extend  %menuCloseState;
}

/* ==========================================================================
   Menu open
   ========================================================================== */

.js--menuOpen {
    .menu__button {
        @extend  %menuCloseState;
    }

    .menu__button__icon:before,
    .menu__button__icon:after {
    	background-color: $colourWhite;
    }
}
