/*
 * Menu module
 */

 /* ==========================================================================
    Variables
    ========================================================================== */

    $widthMenuButton: 50;


/* ==========================================================================
   Menu button
   ========================================================================== */

.menu__button {
  width: rem($widthMenuButton);
  height: rem($widthMenuButton);
}
