/*
 * ShareButton module
 */

 /* ==========================================================================
    Variables
    ========================================================================== */

    $sizeMenuButton: 24;

/* ==========================================================================
    Button
   ========================================================================== */

   .shareButton__icon {
     display: block;
     width: rem($sizeMenuButton);
     height: rem($sizeMenuButton);
     position: absolute;
     top: 0;
     right: 0;
   }
