/*
 * sectionMarkRaul module
 */
/* ==========================================================================
   Common
   ========================================================================== */
.section--mark-raul {

    mix-blend-mode: difference;

    &[data-background] {
        background: none;
    }

    /* ==========================================================================
       names
       ========================================================================== */

    .section__title {
        font-size: 0; // Remove whitespace
        position: relative;
        z-index: 1; // Move in front of previous section
    }

    .name {
        font-size: $sectionTitleFontSize;
        width: 50%;
    }

    .name--mark {
        float: left;
        padding-right: rem($paddingContainer);
    }

    .name--raul {
        float: right;
        padding-left: rem($paddingContainer);
    }

    /* ==========================================================================
       Rotator
       ========================================================================== */

    .rotator {
        z-index: 0;
    }


}
