/*
 * sectionMarkRaul module
 */
/* ==========================================================================
   Common
   ========================================================================== */
.section--mark-raul {

    mix-blend-mode: difference;
    z-index: 1;
    height: 200vh;

    &[data-background] {
        background: none;
        color: $colourWhite;
    }

    align-items: baseline;
    justify-content: baseline;

    .container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ==========================================================================
       names
       ========================================================================== */

    .section__title {
        font-size: 0; // Remove whitespace
        position: relative;
        z-index: 1; // Move in front of previous section
    }

    .name {
        font-size: $sectionTitleFontSize;
        width: 50%;
    }

    .name--mark {
        float: left;
        padding-right: rem($paddingContainer);
    }

    .name--raul {
        float: right;
        padding-left: rem($paddingContainer);
    }

    /* ==========================================================================
       Rotator
       ========================================================================== */

    .rotator {
        z-index: 0;
    }


}
