/*
 * rotator module
 */

    /* ==========================================================================
       Variables
       ========================================================================== */

    /* ==========================================================================
       Rotating surface
       ========================================================================== */

    .rotator,
    .rotator__surface,
    .rotator__rotation {
        height: 100%;
        width: 100%;
        left: 0;
    }

    .rotator {
        position: fixed;
        top: 0;

        .ball {
            top: 0 !important;
        }
    }

    .rotator__surface,
    .rotator__rotation {
        position: absolute;
    }

    .rotator__rotation  {
        top: 0;
    }

    .rotator__surface  {
        bottom: 0;
        background-color: $colourBlack;
        height: 0;
    }

    /* ==========================================================================
      Responsive
      ========================================================================== */
