/*
 * ball module
 */

/* ==========================================================================

   ========================================================================== */

.ball {

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

  .ball__content {
    height: 100%;
  }

  .container {
    height: 100%;
    width: 100%;
  }

  .ball__image {
    width: 66.1%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background: url(../img/ball--black.svg) 50% 50% no-repeat;
    background-size: contain;
  }
}
