
/*
 * Layout
 */

 /* ==========================================================================
    Variables
    ========================================================================== */

    $paddingContainer: 48;
    $paddingContainerSectionLargeH: ($paddingContainer * 2) + $sectionIndicatorLinkSize;

/* ==========================================================================
   Globals
   ========================================================================== */

   * {
    box-sizing: border-box;
   }

   html,
   body {
      overflow-x: hidden;
   }

/* ==========================================================================
   Containers
   ========================================================================== */

   .container {
     padding: rem($paddingContainer);
   }

   .section .container {
     padding: rem($paddingContainer);
   }

   .container--relative {
     position: relative;
   }

/* ==========================================================================
  Header
  ========================================================================== */

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }


/* ==========================================================================
   Responsive
   ========================================================================== */

  @media only screen and (min-width: rem($bpMedium)) {
      .section .container {
          padding-left: rem($paddingContainerSectionLargeH);
          padding-right: rem($paddingContainerSectionLargeH);
      }
  }
