
/*
 * Layout
 */

 /* ==========================================================================
    Variables
    ========================================================================== */

    $paddingContainer: 48;

/* ==========================================================================
   Containers
   ========================================================================== */

   .container {
     margin: rem($paddingContainer);
   }

   .container--relative {
     position: relative;
   }

/* ==========================================================================
  Header
  ========================================================================== */

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
