
/*
 * Variables
 */

/* ==========================================================================
   Colors
   ========================================================================== */

   $colourBlack: #000;
   $colourWhite: #FFF;

/* ==========================================================================
   Breakpoints
   ========================================================================== */

   $bpMedium: 740;


/* ==========================================================================
  Sizes
  ========================================================================== */

  // Type
  $smallFontSize: 12;

  // Design: sizes from Mark's PNGs
  $designWidth: 1580;
  $designFontSize: 78;

  // Logo in section intro
  $logoOriginalWidth: 1056;
  $logoOriginalHeight: 474;

  $logoScreenPortraitWidth: 100%;
  $logoScreenPortraitHeight: 66%;
  $logoScreenLandscapeWidth: 66%;
  $logoScreenLandscapeHeight: 100%;

  // Section Indicator
  $sectionIndicatorLinkSize: 16;

/* ==========================================================================
    Z-index
    ========================================================================== */

    $zIndexSectionMask: 10;
