
/*
 * Variables
 */

/* ==========================================================================
   Colors
   ========================================================================== */

   $colourBlack: #000;
   $colourWhite: #FFF;

/* ==========================================================================
  Sizes
  ========================================================================== */

  $logoOriginalWidth: 1056;
  $logoOriginalHeight: 474;
